main {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin-top: 10vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dimmed-link {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--color-zinc-500);
  background-color: transparent;
}

.dimmed-link:hover {
  text-decoration: underline;
}

.error-message {
  color: var(--color-red);
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
}
