.overview-small-box {
    border-radius: 20px; 
    background-color: var(--color-zinc-100);
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
}

.overview-large-box {
    border-radius: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    margin: 25px 10px;
    width: 98%;
}

.overview-list-item {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    padding: 40px;
    margin: 20px;  
    border-radius: 20px;
    background-color: var(--color-zinc-200);
}

.tab {
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: 500;
}


.tab button:hover {
    background-color: #e4e4e7;
    margin: 5px;
    border-radius: 20px;
}


.tab button.active {
    background-color: #d4d4d8;
    margin: 5px;
    border-radius: 20px;
}

/* Style the tab content */
.tabcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important; 
    align-items: center !important;
    flex-grow: 1 !important; 
    padding: 6px 12px !important;
    border-top: none;
    text-align: center;
}

