.base-container {
    background-color: var(--color-zinc-50);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 100% !important;
}

.view-workout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
}

.view-workout-exercise{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.view-workout-exercise p {
    font-size: 18px;
    font-weight: 400;
}

.view-workout-exercise p.alt {
    font-size: 22px;
    font-weight: 400;
}

.edit-workout-row {
    display: flex;
    flex-direction: row;
}

.edit-workout-input-reps-sets {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.edit-workout-input-update {
    margin: 0px 15px;
    color: var(--color-zinc-800);
}

.edit-workout-input-delete {
    margin: 0px 15px;
    color: var(--color-red);
}

.edit-workout-input-update {
    margin: 0px 15px;
    color: var(--color-zinc-800);
}

.edit-workout-add-exercise {
    width: 70%;
    height: 45px;
    margin: 15px 0px;
}