/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #09090B;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Align to top of the viewport */
  height: 100vh;
  /* Full viewport height */
  margin: 0;
  /* Remove any default margin */
}

/* Title Bar */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* Full width */
  max-width: 430px;
  height: 50px;
  background-color: #27272A;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-bottom: 20px;
}

.title-bar .back-arrow {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #A1A1AA;
  cursor: pointer;
}

.title-bar h1 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #F4F4F5;
}

/* Description */
.description {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #A1A1AA;
  margin: 20px 0;
  width: 100%;
  /* Full width */
  max-width: 380px;
  /* Centered content within a max width */
}

/* Plans Container */
.plans-container {
  width: 100%;
  max-width: 387px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

/* Plan Item */
.plan-item {
  display: flex;
  align-items: center;
  background-color: #18181B;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

/* Hide the actual radio button */
.plan-item input[type="radio"] {
  display: none;
}

/* Custom Circle Indicator */
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #27272A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background-color: #27272A;
}

.inner-dot {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 50%;
}

/* Show inner dot when radio is checked */
.plan-item input[type="radio"]:checked+.circle .inner-dot {
  background-color: #7200FF;
}

/* Highlight border when radio is checked */
.plan-item input[type="radio"]:checked+.circle {
  border-color: #7200FF;
}

.plan-title {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  flex-grow: 1;
}

.plan-price {
  font-size: 16px;
  font-weight: 500;
  color: #A1A1AA;
}

/* Buy Button */
.buy-button {
  width: 100%;
  max-width: 390px;
  height: 50px;
  background-color: #6700E6;
  color: #F4F4F5;
  font-size: 15px;
  font-weight: 550;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #5400cc;
}

.back-arrow {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #A1A1AA;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}