main {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.facts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--color-zinc-400);
  margin-bottom: 30px;
}

.fact {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border: 1px solid var(--color-zinc-800);
  border-radius: 10px;
  margin: 5px;
  gap: 3px;
}

.fact .title {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-zinc-400);
  letter-spacing: 0.3px;
}

.fact .value {
  color: var(--color-zinc-300);
}

p.description {
  margin-bottom: 20px;
  color: var(--color-zinc-300);
}

iframe {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-zinc-900);
  aspect-ratio: 16 / 9;
}

.featured-image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  background-color: var(--color-zinc-900);
  object-fit: contain;
}

.tutorial {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-zinc-900);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.tutorial h3 {
  font-size: 12px;
  color: var(--color-zinc-400);
}
