main.auth {
  min-height: 100vh;
}

.auth .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin-top: 10vh;
}

.auth h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.auth .dimmed-link {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--color-zinc-500);
  background-color: transparent;
}

.auth .dimmed-link:hover {
  text-decoration: underline;
}

.auth .error-message {
  color: var(--color-red);
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
}

.auth .avatar {
  width: 120px;
  height: 120px;
  border-radius: 9999px;
  margin: 0 auto 40px auto !important;
  background-color: var(--color-zinc-800);
  border: 2px solid var(--color-zinc-700);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.auth .avatar svg {
  width: 40px;
  height: 40px;
}

.auth .avatar input {
  display: none;
}

.auth .avatar .preview {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}
