.banner {
  width: 100%;
  aspect-ratio: 16/9;
  padding: 20px;
  background-color: var(--color-zinc-900);
  border-radius: 10px;
  display: flex;
  align-items: end;
  background-size: cover;
}

.banner .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner .left h1 {
  margin-top: auto;
}

.banner .left p {
  margin-top: 5px;
  max-width: 240px;
}

.banner .calories {
  margin-top: 15px;
  padding: 5px 10px;
  line-height: 1;
  border-radius: 9999px;
  background: radial-gradient(at top right, #5000b3, rgba(81, 0, 179, 0.6));
  border: 2px solid #5000b3;
  backdrop-filter: blur(16px);
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid var(--color-zinc-900);
  margin-top: 20px;
}

.info h3 {
  font-size: 12px;
  font-weight: 500;
}

.meals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.meal {
  display: flex;
  flex-direction: column;
}

.meal.hidden .cavet {
  transform: rotate(180deg);
}

.meal .title {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--color-zinc-900);

  background: radial-gradient(
    at top right,
    rgba(250, 250, 250, 0.2),
    rgba(250, 250, 250, 0.1)
  );
  border: 2px solid rgba(250, 250, 250, 0.1);
  color: var(--color-zinc-300);
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.meal .title .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.meal .title .left span {
  font-size: 11px;
  color: var(--color-zinc-400);
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.meal .title .calories {
  font-weight: 500;
}

.meal-items-wrapper {
  overflow: hidden;
}

.meal.hidden .meal-items-wrapper {
  height: 0;
}

.meal-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.meal-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-zinc-900);
  border-radius: 10px;
  padding: 10px 16px;
}

.meal-item .top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.meal-item .featured-image {
  width: 120px;
  height: 80px;
  background-color: var(--color-zinc-900);
  border-radius: 10px;
  object-fit: cover;
}

.meal-item .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
}

.meal-item .right h4 {
  font-size: 16px;
  font-weight: 500;
}

.meal-item .right .calories {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-zinc-500);
}

.meal-time {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.meal-item h4 {
  font-size: 16px;
  font-weight: 400;
}

.meal-item .amount {
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-zinc-900);
  padding: 5px 10px;
  border-radius: 9999px;
}

.meal-item .facts {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.meal-item .fact {
  font-size: 12px;
  background-color: var(--color-zinc-900);
  border-radius: 9999px;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-zinc-400);
}

.meal-item .description {
  font-size: 13px;
  color: var(--color-zinc-400);
  margin-top: 10px;
}
