/* headings */
h1 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 600;
  color: var(--color-zinc-200);
}
h1.alt {
  font-size: 28px;
  line-height: 1.1;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-zinc-200);
}

h3 {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-zinc-200);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

/* input */

.input {
  background-color: var(--color-zinc-950);
  border: 1px solid var(--color-zinc-900);
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  color: inherit;
  transition: border-color 0.6s;
}

.input::placeholder {
  color: var(--color-zinc-500);
}

.input:focus {
  border-color: var(--color-zinc-700);
}

textarea.input {
  min-height: 120px;
  max-height: 200px;
  resize: vertical;
  padding-top: 16px;
  padding-bottom: 16px;
}

select.input {
  color: var(--color-zinc-500);
}

select.input option {
  color: var(--color-zinc-300);
}

select.input:has(option:checked:not([value])),
select.input:has(option:checked:not([value=""])) {
  color: var(--color-zinc-300);
}

select:has(option:checked:not([value])) option,
select:has(option:checked:not([value=""])) option {
  color: var(--color-zinc-300);
}

.password-field {
  display: flex;
  background-color: var(--color-zinc-950);
  border: 1px solid var(--color-zinc-900);
  height: 50px;
  border-radius: 999999px;
  transition: border-color 0.6s;
}
.password-field.focused {
  border-color: var(--color-zinc-700);
}

.password-field input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: inherit;
  padding-left: 20px;
}

.password-field input::placeholder {
  color: var(--color-zinc-500);
}

.password-field button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-zinc-600);
}

main {
  min-height: calc(100vh - 70px - 50px);
}

/* button */
.btn {
  background-color: var(--color-violet-600);
  background: radial-gradient(at top right, #5b00cc, rgba(91, 0, 204, 0.6));
  border: 1px solid #5b00cc;
  color: var(--color-violet-50);
  border-radius: 999999px;
  padding: 0 20px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.6s;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.4px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:active {
  background-color: var(--color-violet-700);
}

.btn.secondary {
  color: var(--color-zinc-50);
  background: radial-gradient(
    at top right,
    rgba(250, 250, 250, 0.2),
    rgba(250, 250, 250, 0.1)
  );
  border: 1px solid rgba(250, 250, 250, 0.1);
}
.btn.secondary:active {
  background-color: var(--color-zinc-700);
}

.btn.outlined {
  background: transparent;
  border: 1px solid var(--color-zinc-800);
  color: var(--color-zinc-300);
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* paragraph */
.paragraph {
  font-size: 14px;
  color: var(--color-zinc-400);
  line-height: 1.4;
}

.paragraph.small {
  font-size: 12px;
}

/* Titlebar */
.title-bar {
  display: flex;
  background: linear-gradient(rgba(39, 39, 42, 1), rgba(39, 39, 42, 0.8));
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 50;
}

.title-bar h3 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding: 0 20px;
  color: var(--color-zinc-200);
}

.title-bar div,
.title-bar a {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--color-zinc-400);
}

/* Navbar */
.navbar {
  display: flex;
  background: linear-gradient(rgba(39, 39, 42, 0.9), rgba(39, 39, 42, 1));
  backdrop-filter: blur(20px);
  position: sticky;
  bottom: 0;
  height: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar a {
  color: var(--color-zinc-400);

  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid transparent;
}

.navbar a:hover:not(.active) {
  background: radial-gradient(at top right, #5b00cc, rgba(91, 0, 204, 0.6));
}

.navbar a.active {
  color: var(--color-zinc-50);
  background: radial-gradient(at top right, #5b00cc, rgba(91, 0, 204, 0.6));
  border-color: #5b00cc;
}

.navbar a span.count {
  position: absolute;
  top: -2px;
  right: 0;
  background-color: var(--color-red);
  color: var(--color-zinc-50);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  display: none;
}

.navbar a span.count.active {
  display: flex;
}

.navbar a {
  position: relative;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form > *:not(button) {
  margin-bottom: 10px;
}

.form .btn {
  margin-top: 16px;
}

/* field */
.field {
  display: flex;
  flex-direction: column;
}

.field label {
  padding-top: 5px;
  font-size: 12px;
  color: var(--color-zinc-400);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding-left: 15px;
}

/* Alert */
.alert-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 20px;
  z-index: 99999999;
  width: 100%;
  max-width: calc(min(100vw, var(--body-width)));
}

.alert {
  display: flex;
  margin: auto;
  backdrop-filter: blur(16px);
  font-size: 12px;
  font-weight: 500;
  width: max-content;
  max-width: 100%;
  padding: 5px 10px;
  border-radius: 9999px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.05);
  animation: pop-up 0.6s;
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.alert.error {
  background-color: rgba(213, 58, 58, 0.9);
  color: var(--color-zinc-50);
}

.alert.success {
  background-color: rgba(52, 151, 62, 0.9);
  color: var(--color-zinc-50);
}

.alert.info {
  background-color: rgba(39, 39, 42, 0.9);
  color: var(--color-zinc-50);
}

.subnavbar {
  display: flex;
  gap: 6px;
  overflow: auto;
}

.subnavbar-link {
  padding: 10px 20px;
  border-radius: 8px;
  background: radial-gradient(
    at top right,
    rgba(250, 250, 250, 0.2),
    rgba(250, 250, 250, 0.1)
  );
  text-align: center;
  color: var(--color-zinc-400);
  transition: background 0.6s, color 0.6s;
  margin-bottom: 10px;
  flex: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.subnavbar-link.active {
  color: var(--color-zinc-50);
  background: radial-gradient(at top right, #5b00cc, rgba(91, 0, 204, 0.6));
}
