.day-selector {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.day-selector .day-button {
  padding: 5px 10px;
  background: radial-gradient(
    at top right,
    rgba(250, 250, 250, 0.2),
    rgba(250, 250, 250, 0.1)
  );
  color: var(--color-zinc-400);
  font-weight: 500;
  border-radius: 9999px;
}

.day-selector .day-button.active {
  background: radial-gradient(at top right, #5000b3, rgba(81, 0, 179, 0.6));
  color: var(--color-zinc-50);
}

.hrs {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  text-align: left;
  margin-top: 30px;
  font-size: 12px;
}

.hrs .slot {
  display: flex;
  flex-direction: column;
}

.hrs h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.hrs .peak h4 {
  color: var(--color-red-light);
  background-color: rgba(240, 80, 80, 0.1);
}

.hrs .idle h4 {
  color: #ffcc00;
  background-color: rgba(255, 204, 0, 0.1);
}

.hrs .free h4 {
  color: var(--color-green-light);
  background-color: rgba(66, 179, 77, 0.1);
}

.hrs .hr {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-zinc-900);
}

.hrs .hr .time {
  flex: 1;
}

.hrs .hr .traffic {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-zinc-400);
}
