.equipment-view-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  margin: 10px;
}

.equipment-view-details {
  margin: 10px 0px;
}

.equipment-view-details h2 {
  margin: 5px 0px;
}

.equipment-view-details img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.equipment-view-header h1 {
  text-align: center;
  font-size: 2rem;
  color: #333333;
}

.equipment-view-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
