.exercises {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.exercise {
  display: flex;
  align-items: start;
  gap: 20px;
  border: 1px solid var(--color-zinc-900);
  border-radius: 10px;
  padding: 10px 16px;
}

.exercise .featured-image {
  width: 120px;
  height: 80px;
  background-color: var(--color-zinc-900);
  border-radius: 10px;
  object-fit: cover;
}

.exercise .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exercise h4 {
  font-size: 16px;
  font-weight: 500;
}

.exercise .right .count {
  font-size: 16px;
  color: var(--color-zinc-400);
  padding: 3px 7px;
  background-color: var(--color-zinc-900);
  border-radius: 20px;
}

.exercise .right .equipment {
  font-size: 13px;
  color: var(--color-zinc-400);
}

.btn {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px 0;
}

.btn .sub-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
  margin-top: 5px;
}

.btn.danger {
  background: radial-gradient(at top right, #ef4444, rgba(239, 68, 68, 0.6));
  border: 2px solid #ef4444;
}

.btn.success {
  border: 2px solid rgba(22, 163, 74, 1);
  background: radial-gradient(
    at top right,
    rgba(22, 163, 74, 1),
    rgba(22, 163, 74, 0.6)
  );
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  padding: 16px;
  border: 1px solid var(--color-zinc-900);
  border-radius: 10px;
}
