main {
  display: flex;
  flex-direction: column;
}

.form {
  max-width: 20rem;
  margin-top: 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid var(--color-zinc-200);
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card .btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.card p {
  margin-bottom: 10px;
}
