.onboarding {
  display: flex;
  flex-direction: column;
}

.onboarding .logo {
  width: 60px;
}
.onboarding h1 {
  margin: 10px 0;
}

.onboarding input {
  accent-color: var(--color-violet-600);
}

.onboarding form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.onboarding .question {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.onboarding .title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-zinc-300);
  text-transform: none;
  margin: 0;
}

.gender {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.line .input {
  flex: 1;
}

.line span {
  color: var(--color-zinc-400);
  font-size: 12px;
}

.gender .line span {
  font-size: 14px;
}

.gender input {
  width: 16px;
  height: 16px;
}
