.banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.banner img {
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.1);
  border: 1px solid rgba(250, 250, 250, 0.1);
  margin-bottom: 15px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.banner h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.grid-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-tile {
  border-radius: 30px;
  padding: 12px;
  background: radial-gradient(at top right, #5000b3, rgba(81, 0, 179, 0.6));
  border: 1px solid #5000b3;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
}

.grid-tile .top {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.grid-tile .top h2 {
  font-size: 20px;
  font-weight: 500;
}

.grid-tile .top p {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
  width: 80%;
}

.grid-tile.workout-in-progress {
  background: radial-gradient(at top right, #ef4444, rgba(239, 68, 68, 0.6));
  border: 1px solid #ef4444;
}

.workout-cmd {
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-zinc-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(250, 250, 250, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2); */
  /* green */
  background: radial-gradient(
    at top right,
    rgba(22, 163, 74, 0.9),
    rgba(22, 163, 74, 0.7)
  );
  border: 1px solid rgba(22, 163, 74, 0.9);
  padding: 8px 12px;
  border-radius: 20px;
}

.traffic {
  padding: 8px;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.traffic svg {
  flex-shrink: 0;
  margin-right: 8px;
  color: rgba(250, 250, 250, 0.8);
}

.traffic .bar {
  width: 30px;
  height: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  margin-right: 10px;
}

.traffic .bar .fill {
  width: 100%;
  height: 50%;
  margin-top: auto;
  transform-origin: bottom;
  animation: traffic-fill 2s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  background-color: rgba(250, 250, 250, 0.1);
}

@keyframes traffic-fill {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.traffic span {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
}

.bottom-text {
  padding: 8px;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
  margin-top: auto;
}

.trainer {
  padding: 8px;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.trainer .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(250, 250, 250, 0.1);
  background: 2px solid rgba(250, 250, 250, 0.1);
}

.trainer span {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
}

.progress {
  display: flex;
  align-items: start;
  margin-top: auto;
  padding: 8px;
}

.progress svg {
  flex-shrink: 0;
  margin-right: 8px;
  margin-top: 5px;
}

.progress span {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
}

.gray-full-tile {
  margin-top: 10px;
  width: 100%;
  border-radius: 30px;
  padding: 18px;
  background: radial-gradient(
    at top right,
    rgba(250, 250, 250, 0.2),
    rgba(250, 250, 250, 0.1)
  );
  border: 1px solid rgba(250, 250, 250, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
}

.gray-full-tile h2 {
  font-weight: 500;
  margin-left: 10px;
}
