/* headings */
h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-zinc-50);
}
h1.alt {
  font-size: 28px;
  line-height: 32px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-zinc-50);
}

h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: var(--color-zinc-50);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

/* input */

.input {
  background-color: var(--color-zinc-950);
  border: 2px solid var(--color-zinc-900);
  height: 50px;
  padding: 0 20px;
  border-radius: 999999px;
  color: inherit;
  transition: border-color 0.6s;
}

.input::placeholder {
  color: var(--color-zinc-500);
}

.input:focus {
  border-color: var(--color-zinc-700);
}

.password-field {
  display: flex;
  background-color: var(--color-zinc-950);
  border: 2px solid var(--color-zinc-900);
  height: 50px;
  border-radius: 999999px;
  transition: border-color 0.6s;
}
.password-field.focused {
  border-color: var(--color-zinc-700);
}

.password-field input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: inherit;
  padding-left: 20px;
}

.password-field input::placeholder {
  color: var(--color-zinc-500);
}

.password-field button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-zinc-600);
}

main {
  min-height: calc(100vh - 70px - 50px);
}

/* button */
.btn {
  background-color: var(--color-violet-600);
  color: var(--color-violet-50);
  border: none;
  border-radius: 999999px;
  padding: 0 20px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.6s;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
}
.btn:active {
  background-color: var(--color-violet-700);
}

.btn.secondary {
  background-color: var(--color-zinc-600);
  color: var(--color-zinc-50);
}
.btn.secondary:active {
  background-color: var(--color-zinc-700);
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* paragraph */
.paragraph {
  font-size: 14px;
  color: var(--color-zinc-500);
  line-height: 22px;
}

/* Titlebar */
header.title-bar {
  display: flex;
  background-color: var(--color-zinc-800);
  position: sticky;
  top: 0;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title-bar h3 {
  color: var(--color-zinc-50);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding: 0 20px;
}

.title-bar div,
.title-bar a {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: var(--color-zinc-800);
  position: sticky;
  bottom: 0;
  height: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: var(--color-zinc-400);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.navbar a:hover:not(.active) {
  background-color: var(--color-zinc-700);
}

.navbar a.active {
  background-color: var(--color-violet-600);
  color: var(--color-zinc-50);
}
